Introduce a helper to invalidate cookies

Expose current implementation - https://github.com/tarantool/cartridge/blob/master/cartridge/auth.lua#L656-L658 as `http_render_response`

A bit theory

### RFC 7617 [1]

Upon receipt of a request for a URI within the protection space that
   lacks credentials, the server can reply with a challenge using the
   401 (Unauthorized) status code ([RFC7235], Section 3.1) and the
   WWW-Authenticate header field ([RFC7235], Section 4.1).

### RFC7235, Section 3.1 [2]

3.1.  401 Unauthorized

   The 401 (Unauthorized) status code indicates that the request has not
   been applied because it lacks valid authentication credentials for
   the target resource.  The server generating a 401 response MUST send
   a WWW-Authenticate header field (Section 4.1) containing at least one
   challenge applicable to the target resource.

   If the request included authentication credentials, then the 401
   response indicates that authorization has been refused for those
   credentials.  The user agent MAY repeat the request with a new or
   replaced Authorization header field (Section 4.2).  If the 401
   response contains the same challenge as the prior response, and the
   user agent has already attempted authentication at least once, then
   the user agent SHOULD present the enclosed representation to the
   user, since it usually contains relevant diagnostic information.

[1] https://tools.ietf.org/html/rfc7617
[2] https://tools.ietf.org/html/rfc7235#section-3.1

Another one interesting thing:

### RFC7231 (section-6.5.3) [1]

6.5.3.  403 Forbidden

   The 403 (Forbidden) status code indicates that the server understood
   the request but refuses to authorize it.  A server that wishes to
   make public why the request has been forbidden can describe that
   reason in the response payload (if any).

   If authentication credentials were provided in the request, the
   server considers them insufficient to grant access.  The client
   SHOULD NOT automatically repeat the request with the same
   credentials.  The client MAY repeat the request with new or different
   credentials.  However, a request might be forbidden for reasons
   unrelated to the credentials.

   An origin server that wishes to "hide" the current existence of a
   forbidden target resource MAY instead respond with a status code of
   404 (Not Found).

[1] https://tools.ietf.org/html/rfc7231#section-6.5.3

Also:
https://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses

Some conclusion: 
* We shouldn't use 403 inside login. Because we don't know who made this request.
* We must (according RFC7235) returns "WWW-Authenticate" in case of "Unauthorized"
* There is no words about we should reset or save passed credentials but it causes a problems then we use a browser.

My proposal to implement function that will be invalidates cookie internally:
```lua
function invalidate_credentials(resp, reason)
```

That will set `lsid=""; Path=/; Max-Age=0` in "set-cookies" header.

Discussed this problem. Seems it's redundant